@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: hsl(235, 18%, 26%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
@media (max-width: 768px) {
  body {
    height: auto;
  }
}

.container {
  max-width: 950px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.9rem;
  overflow: hidden;
}
.container .card .content {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .container .card .content {
    flex-direction: column-reverse;
  }
}
.container .card .content .text-section,
.container .card .content .image-section {
  padding: 1.5rem;
  flex: 1;
}
.container .card .content .text-section {
  padding: 3rem !important;
  margin: 50px 10px;
}
.container .card .content .text-section h1 {
  font-size: 3.5rem;
  margin-bottom: 1.3rem;
  color: hsl(234, 29%, 20%);
}
.container .card .content .text-section p {
  color: hsl(234, 29%, 20%);
  margin-bottom: 2rem;
}
.container .card .content .text-section ul {
  margin-bottom: 2.8rem;
  list-style-type: none;
  align-self: center;
}
.container .card .content .text-section ul li {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 15px;
}
.container .card .content .text-section form {
  display: flex;
  flex-direction: column;
}
.container .card .content .text-section form .mail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}
@media (max-width: 480px) {
  .container .card .content .text-section form .mail {
    flex-direction: column;
    gap: 15px;
  }
}
.container .card .content .text-section form .mail label {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  font-size: 1.2rem;
}
.container .card .content .text-section form .mail .error-message {
  color: hsl(4, 100%, 67%);
  font-weight: 700;
  font-size: 1rem;
}
.container .card .content .text-section form input {
  padding: 1.2rem;
  border-radius: 8px;
  border: 1px solid hsl(231, 7%, 60%);
  font-family: inherit;
  color: hsl(234, 29%, 20%);
  font-size: 1.1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.container .card .content .text-section form input:hover, .container .card .content .text-section form input:focus {
  outline: none;
  border-color: hsl(235, 18%, 26%);
}
.container .card .content .text-section form button {
  padding: 1.2rem;
  border-radius: 8px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(234, 29%, 20%);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.container .card .content .text-section form button:hover {
  background: linear-gradient(to right, #FF527B, #FF6A3A);
  box-shadow: 0 16px 24px #ff916d;
  transform: translateY(-2px);
}
.container .card .content .image-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .container .card .content .image-section {
    padding: unset;
    display: block;
  }
}

.success-card {
  background-color: hsl(0, 0%, 100%);
  padding: 6rem;
  max-width: 40rem;
  width: 100%;
  border-radius: 2.5rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .success-card {
    padding: 3.5rem;
    max-width: unset;
  }
}
.success-card img {
  margin-bottom: 2rem;
}
.success-card h1 {
  font-size: 4.2rem;
  color: hsl(234, 29%, 20%);
  max-width: 44rem;
  width: 100%;
  margin-bottom: 1.3rem;
}
@media (max-width: 375px) {
  .success-card h1 {
    font-size: 3rem;
    word-wrap: break-word;
  }
}
.success-card p {
  font-size: 1.15rem;
  max-width: 27rem;
  width: 100%;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}
@media (max-width: 768px) {
  .success-card p {
    max-width: unset;
  }
}
.success-card p .email-confirmation {
  font-weight: 700;
  word-wrap: break-word;
}
.success-card button {
  padding: 1.5rem;
  border-radius: 8px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  max-width: 450px;
  width: 100%;
  color: hsl(0, 0%, 100%);
  background-color: hsl(234, 29%, 20%);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
@media (max-width: 768px) {
  .success-card button {
    max-width: unset;
  }
}
.success-card button:hover {
  background: linear-gradient(to right, #FF527B, #FF6A3A);
  box-shadow: 0 16px 24px #ff916d;
  transform: translateY(-2px);
}

.hidden {
  display: none;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-top: 1rem;
}
.attribution a,
.attribution a:visited {
  color: hsl(4, 100%, 67%);
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */